<template>
    <header>
      <nuxt-link to="/" class="logo">もぐもぐドットコム</nuxt-link>
      <nav>    
        <ul>
          <li><button class="button" @click="showCheckPop" v-bind:disabled="isEmpty()">お会計する</button></li>
          <li><button class="button" @click="showBento" >お弁当</button></li>
          <li><button class="button" @click="showOsozai">お惣菜</button></li>
          <li><button class="button" @click="showDrink">ドリンク</button></li>
        </ul>
      </nav>
      
    </header>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  props: ['cart', 'okaikeiButtonFlag'],
  data() {
    return {
      showModal: true,
    }
  },
  methods: {
    // カートの中身を確認します。
    isEmpty: function () {
      return !this.okaikeiButtonFlag;
    },
    showBento: function() {
      this.$emit('changePage', "Bento")
    },
    showOsozai:function() {
      this.$emit('changePage', "Sozai")
    },
    showDrink:function() {
      this.$emit('changePage', "Drink")
    },
    showCheckPop:function() {
      this.$emit('showCheckPop')
    }
  }
})
</script>

<style>

header {
  background-color: rgb(0, 219, 146);
}

/*
.button {
  appearance: none;
  outline:none;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
  padding: 15px 25px;
  background-image:  linear-gradient(to right, #CC2E5D, #FF5858);
  border-radius: 8px;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  transition: 0.4s ease-out;
}

header {
  background: rgb(0, 219, 146);
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.Logo, li a {
  padding: 1em 2em;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: .9em;
}

nav {
  justify-self: right;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

li a {
  padding: 1em 2em;
  display: inline-block;
  background: rgba(0,0,0,0.1);
}
*/

</style>
