<template>
  <div class="container">
    <h1 class="pageTitle">
      お惣菜一覧 
    </h1>
    <!-- 検索欄 -->
    <div class="search">
      <div class="result">
        検索結果 <span class="count">{{filterResultCount}}件</span>
      </div>
      <div class="condition">
        <div class="target">
          <label><input type="checkbox" v-model="showSaleItem"> セール対象</label>
          <label><input type="checkbox" v-model="showDelvFree"> 送料無料</label>
        </div>
        <div class="sort">
          <label for="sort">並び替え</label>
          <select id="sort" class="sorting" v-model.number="sortType">
            <option value="standart">標準</option>
            <option value="cheaper">価格が安い順</option>
            <option value="more_expensive">価格が高い順</option>
            <option value="more_popular">人気が高い順</option>
          </select>
        </div>
      </div>
    </div>
    <!-- 商品一覧 -->
    <transition-group tag="div" class="list" name="sozaiItems">
        <div class="item" v-for="(product, index) in filteredList" :key="product.id">
        <figure class="image">
          <template v-if="product.isSale">
            <div class="status">SALE</div>  
          </template>
          <img :src="getImage(product.image)" alt="">
          <figcaption v-html="`${product.name}<br>${product.subtitle}`"></figcaption>
        </figure>
        <div class="detail">
          <div class="price">
            <span>{{product.price | priceFormat }}</span>円 (税込)
          </div>
          <template v-if="product.delvFee == 0">
            <div class="shipping-fee none">送料無料</div>  
          </template>
          <template v-else>
            <div class="shipping-fee">送料{{product.delvFee | priceFormat }}円</div>
          </template>

          <div>注文数：
            <select v-model="orderInfo[product.id].count" @change="orderItem(product, $event)">
                <option value="0">0</option>
                <option v-for="count in product.stock" :key="count" :value="count">{{count}}</option>
            </select>
          </div>
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script>
import _ from 'lodash';
import sozai from '@/assets/data/sozai.json'
export default {
  props: ['cart', 'pageOperateInfo'],
  data() {
    return {
      // 表示中の商品数
      count: 0,
      // 「セール対象」のチェック状態(true: チェック有り、false: チェック無し)
      showSaleItem: false,
      // 「送料無料」のチェック状態(true: チェック有り、false: チェック無し)
      showDelvFree: false,
      // 「並び替え」の選択値 (1:標準、2:価格が安い値)
      sortOrder: 1,
      // ソート種別
      sortType: "standart",
      // お弁当リスト
      products :[],
      // 注文リスト
      orderInfo: {}
    };
  },

  created() {
      // 取得したお弁当データを配列にセットする
      for(let i = 0; i <sozai.length; i++){
        // TODO ランダムを使ってセールを商品を設定する


        this.products.push(sozai[i])
        this.orderInfo[sozai[i].id] = {"count" : 0}
      }

      // 操作記録を反映する
      if(this.pageOperateInfo.showSaleItem){
        this.showSaleItem = this.pageOperateInfo.showSaleItem
      }

      if(this.pageOperateInfo.showDelvFree){
        this.showDelvFree = this.pageOperateInfo.showDelvFree
      }

      if(this.pageOperateInfo.sortType !== "standart"){
        this.sortType = this.pageOperateInfo.sortType;
      }

      if(this.pageOperateInfo.orderedItem.length > 0){
        for(let i = 0; i < this.pageOperateInfo.orderedItem.length; i++){
          this.orderInfo[this.pageOperateInfo.orderedItem[i].id].count = this.pageOperateInfo.orderedItem[i].count;
        }
      }
      this.isEmpty();
  },

  // 計算等
  computed: {
    // 絞り込み後の商品リストを返す算出プロパティ
    filteredList: function(){
      // 絞り込み後の商品リストを格納する新しい配列
      var newList = [];

      const showSaleItem = this.showSaleItem;
      const showDelvFree = this.showDelvFree;
      let pageInfo = this.pageOperateInfo;

      newList = _.filter(this.products, function(product) {
        var isShow = true;

        if(showSaleItem && !product.isSale){
          isShow = false;
        }

        if(showDelvFree && product.delvFee > 0){
          isShow = false;
        }

        // 操作記録を更新する。
        pageInfo.showSaleItem = showSaleItem;
        pageInfo.showDelvFree = showDelvFree;

        if(isShow){
          return product;
        }        
      })

      switch (this.sortType) {
        case 'cheaper': {
          // 価格が安い順に並び替える
          newList = _.orderBy(newList, "price", "asc");
          break
        }
        case 'more_expensive': {
          // 価格が高い順に並び替える     
          newList = _.orderBy(newList, "price", "desc");   
          break
        }
        case 'more_popular': {
          // 人気順に並び替える     
          newList = _.orderBy(newList, "popularNum", "desc");   
          break
        }
        default: {
          // 標準の場合
        }
      }

      // 操作記録を更新する。
      this.pageOperateInfo.sortType = this.sortType;

      // 絞り込み後の商品リストを返す
      return newList;
    },
    // 絞り込み後の商品リストの件数を返す算出プロパティ
    filterResultCount: function(){
      return this.filteredList.length
    }
  },

  // 監視
  watch: {

  },
  filters: {
    // 3桁ごとにカンマをつけて金額を表示します。
    priceFormat(price){
      return price.toLocaleString();
    }
  },
  methods: {
    getImage(image) {
      return require('../assets/images/sozai/' + image)
    },
    // 注文数を設定します。
    orderItem(product, event){
      let itemIndex = 0;
      const targetItem = _.filter(this.cart, function(item, index) {
          if(product.id === item.id){
            itemIndex = index;
            return true;
          }
      });
      if(targetItem.length == 0){
        // カートに追加する。
        this.cart.push(
          {
            "id" : product.id,
            "name" : product.name,
            "price" : product.price,
            "delvFee" : product.delvFee,
            "count" : event.target.value,
          }
        );

        // 操作記録を更新する。
        this.pageOperateInfo.orderedItem.push({"id" : product.id, "count" : event.target.value})

        // 合計金額を更新する。
        const sum = product.price * event.target.value + product.delvFee;
        this.$emit('updateTotal', sum, true)

        this.isEmpty();
      } else {

        // 操作記録を更新する。
        let orderItemIndex = 0;
        const orderedItem = _.filter(this.pageOperateInfo.orderedItem, function(item, index) {
          if(product.id == item.id){
            orderItemIndex = index;
            return true;
          }
        });

        if(event.target.value == 0){
          // カートから商品を削除する
          const tagetItem = this.cart[itemIndex];

          // 操作記録から該当商品を削除する
          this.pageOperateInfo.orderedItem.splice(orderItemIndex, 1)

          // 合計金額から減算する。
          const sum = tagetItem.price * tagetItem.count + tagetItem.delvFee;
          this.$emit('updateTotal', sum, false)

          this.cart.splice(itemIndex, 1);
        } else {
          // 注文数を更新する。
          this.cart[itemIndex].count = event.target.value;

          // 操作記録を更新する。
          this.pageOperateInfo.orderedItem[orderItemIndex].count = event.target.value;

          // 合計金額を更新する。
          const sum = product.price * event.target.value + product.delvFee
          this.$emit('updateTotal', sum, true)

        }
        this.isEmpty();
      }
    },

    // カートの中身を確認します。
    isEmpty: function () {
      this.$emit('checkCart')
    },
  }
}
</script>
