<template>
  <div class="container">
    <div>
      <app-header :cart="shoppingCart" @changePage="showPage" @showCheckPop="showPop" :okaikeiButtonFlag="okaikeiButtonFlag"></app-header>
      <Bento v-if="pageHandler.Bento" 
        :cart="shoppingCart"
        :pageOperateInfo="pageOperateInfo.Obento"
        @checkCart="checkCartLength"
        @updateTotal="updateTotal"
      />
      <Sozai v-if="pageHandler.Sozai" 
        :cart="shoppingCart"
        :pageOperateInfo="pageOperateInfo.Osozai"
        @checkCart="checkCartLength"
        @updateTotal="updateTotal"
      />
      <Drink v-if="pageHandler.Drink" 
        :cart="shoppingCart"
        :pageOperateInfo="pageOperateInfo.Drink"
        @checkCart="checkCartLength"
        @updateTotal="updateTotal"
      />
    </div>
    <transition name="fade" appear>
      <div class="modal__overlay" v-if="showModal" @click="showModal = false">
      </div>
    </transition>
    <transition name="slide" appear>
      <div class="modal" v-if="showModal">
        <h1>注文内容の確認</h1>
        <table border="1">
          <thead style="background-color: #66FFFF">
            <tr>
              <th style="color:black">商品名</th>
              <th style="color:black">個数</th>
              <th style="color:black">送料</th>
              <th style="color:black">金額</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in shoppingCart" :key="item.id">
              <td style="color:black">{{item.name}}</td>
              <td style="color:black">{{item.count}}</td>
              <td style="color:black">{{item.delvFee}}</td>
              <td style="color:black">{{showSum(item) | priceFormat }}</td>
            </tr>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
        <p>合計金額：{{totalSum  | priceFormat }}円</p>
        <button class="button" @click="showModal = false">
          キャンセル
        </button>
        <button class="button" @click="orderComplete">
          決定
        </button>
      </div>
    </transition>
  </div>
  

</template>

<script>
import { AppHeader } from "@/components/AppHeader";
import { Bento } from "@/components/Bento";

export default {
 components: {},
data() {
  return {
    shoppingCart:[],
    showModal: false,

    // 合計金額
    totalSum: 0,
    // ページ表示制御
    pageHandler : {
      Bento: true,
      Sozai: false,
      Drink: false
    },
    // 各ページ操作記録
    pageOperateInfo: {
      Obento: {
          showSaleItem: false,
          showDelvFree: false,
          sortType: 'standart',
          orderedItem:[]
      },
      Osozai: {
          showSaleItem: false,
          showDelvFree: false,
          sortType: 'standart',
          orderedItem:[]
      },
      Drink: {
          showSaleItem: false,
          showDelvFree: false,
          sortType: 'standart',
          orderedItem:[]
      },
    },
    okaikeiButtonFlag:false
  }
},

filters: {
  // 3桁ごとにカンマをつけて金額を表示します。
  priceFormat(price){
    return price.toLocaleString();
  }
},

methods: {
   Alert:function () {
     alert('Hello Nuxt.js!')
   },

    showSum: function(item) {
      let sum = item.price * item.count + item.delvFee;
      return sum;
    },

    // 注文決定ボタン
    orderComplete(){
      alert("ご注文ありがとうございました。")
      this.showModal = false;
      // リロードする。
      this.$router.go({path: this.$router.currentRoute.path, force: true});
    },

    showPage: function(pageName){
      switch (pageName) {
        case 'Bento':
          this.pageHandler.Bento = true;
          this.pageHandler.Sozai = false;
          this.pageHandler.Drink = false;
          break
        case 'Sozai':
          this.pageHandler.Bento = false;
          this.pageHandler.Sozai = true;
          this.pageHandler.Drink = false;
          break
        case 'Drink':
          this.pageHandler.Bento = false;
          this.pageHandler.Sozai = false;
          this.pageHandler.Drink = true;
          break;
        default:
      }
    },

    showPop: function(){
      this.showModal = true;
    },

    checkCartLength: function(){
      if(this.shoppingCart.length === 0){
        this.okaikeiButtonFlag = false;
      } else {
        this.okaikeiButtonFlag = true;
      }
    },

    updateTotal: function(sum, flag){
      if(flag){
        // 加算
        this.totalSum += sum;
      } else {
        // 減算
        this.totalSum -= sum;
      }
    }
 },
}
</script>

<style>
/*
.items-leave-active,
.items-enter-active {
  transition: opacity .5s, transform .5s ease;
}

.items-leave-to,
.items-enter {
  opacity: 0;
  transform: translateX(50px);
}

.items-leave,
.items-enter-to {
  opacity: 1;
}
.items-move {
  transition: transform .5s;
}

#content{
  z-index:2;
  width:50%;
  padding: 1em;
  background:#fff;
}

.button {
  appearance: none;
  outline:none;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
  padding: 15px 25px;
  background-image:  linear-gradient(to right, #CC2E5D, #FF5858);
  border-radius: 8px;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  transition: 0.4s ease-out;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.3);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.modal {
  text-align: -webkit-center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 100%;
  max-width: 400px;
  background-color: #FFF;
  border-radius: 16px;
  padding: 25px;
}

.modal h1 {
  color: #222;
  font-size: 32px;
}

.modal p {
  color: #666;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
*/

</style>
